@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

/* body{
  color: rgb(255, 255, 255) !important;
} */
.card{
  background-color: #800044 !important;
}
.imgDiv {
  
  display: inline-grid;
  margin: 10px;
}
.imgDiv button {
  margin: 10px auto 0px auto;
  
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: unset !important;
  margin-block-end: unset !important;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: unset !important;
}
.rowx{
  display: table;
  width: 100%;

}
p{
  margin: unset !important;
  padding: unset !important;
}
.container {
  width: 80%;
    /* display: flex; */
    flex-direction: row;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}



button {
  padding: 7px 5px;
  border-radius: 5px;
  border: none;
  background-color: #c7006b;
  color: white;
}



.imgGrid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 50px;
  margin-top: 50px;
  grid-auto-flow: dense;
  /* width: 100%; */
}

.contentDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #4CAF50;
  border-radius: 15px;
  padding: 20px;
}

@media screen and (max-width: 1000px) {
  .imgGrid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 600px) {
  .imgGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}